---
layout: default
title: Home
---

<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h3>Bio</h3>
  <p>
    I am an Assistant Professor in the
    <a href="https://www.ou.edu/gibbs/divisions/planning-landscape-architecture-and-design/">Division of Planning, Landscape Architecture, and Design</a> at the 
    <a href="https://www.ou.edu/gibbs/">University of Oklahoma Gibbs College of Architecture</a>. 
  </p>
  <p>
    I'm a 

    <!-- 
    Details are in my <a href="{{ site.baseurl }}/assets/cv/cv_web.pdf">CV</a>. -->
  </p>
</div>


<span class="anchor" id="news"></span>
<div class="docs-section">
  <h3>News</h3>
  <!--<i> * Scroll for more </i>-->
  <UL style="list-style-type: none; padding: 1px; padding-left: 0rem !important; margin-top: 0px; overflow-y: scroll; height:170px;">
    <li><b>[01/01/26]</b> Wei Liu's homepage is under developing.</li>
    <li><b>[11/21/25]</b> The Christopher C. Gibbs College of Architecture is proud to announce that the University of Oklahoma Office of the Vice President for Research and Partnerships has awarded $30,052 through the Strategic Equipment Investment Program (SEIP) to support the launch of the Mobile Urban Design Unit (MUDU)<a href="https://ou.edu/gibbs/news/2025/november/gibbs-college-receives-strategic-equipment-award-to-launch-mobile-urban-design-unit">Mobile Urban Design Unit (MUDU)</a>. </li>
    
  </UL>
</div>


<!-- ========== PUBLICATIONS ========== 
<div class="docs-section" id="publications">
  <h3>Publications</h3>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  <sup>‡</sup> indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

-->

<!-- ========== PROJECTS ========== -->
<div class="docs-section" id="projects">
  <h3>Projects</h3>

<!-- <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul> 

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">-->
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div> 

   <!-- <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>-->

<!-- ========== TEACHING ========== 

-->
<div class="docs-section" id="teaching">
  <h3>Teaching</h3>
 
  <p> 
    I organize the Ph.D. colloquium, where we organized <a href="{{ site.baseurl }}/pages/resources">a list of resource</a> for students in our Ph.D. program. 
    I also advise <a href="http://uwsolar.be.uw.edu">UW Solar</a> and some student teams from the <a href="https://foster.uw.edu/">Foster School of Business</a> and <a href="https://gix.uw.edu/">Global Innovation Exchange (GIX)</a> on their capstone projects.
   
    My <a href="{{ site.baseurl }}/pages/courseworks">coursework plan</a> (<a href="https://haoyuatuw.notion.site/coursework">full list</a>) combine urban planning, public policy, climate and energy, statsitics, data science, and AI + society at the University of Washington. 
    You can also refer to the <a href="https://uil.be.uw.edu/education/">programs and courses recommended by the Urban Infrastructure Lab</a>.
  </p>

  <b>Course Website:</b> <br>
  <a href="{{ site.baseurl }}/data-analytics-visualization">RE 519 Data Analytics and Visualization</a> <br>
  <!--<a href="{{ site.baseurl }}/quantitative-methods">URBAN 520 Quantitative Methods</a> (due to unforeseen circumstances, cannot teach it after developing the contents)-->


</div>



 <!--========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h3>Vitæ</h3>

  <p>Full Curriculum Vitae in <a href="{{ site.baseurl }}/assets/cv/cv_web.pdf">PDF</a>.</p>
  
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>



<div class="docs-section" id="template">
    <h3>Acknowledgement</h3>
    This website was built with <a href="https://jekyllrb.com">jekyll</a> and uses the website design and template by <a href="https://faculty.washington.edu/msaveski/">Prof. Martin Saveski</a> at UW.
  </div>
